body {
  margin: 0;
  font-family: Arial, cursive;
  background: white;
  text-align: center;
}

.content {
  padding: 20px;
}

#timer {
  margin-top: 20px;
  font-size: 22px;
  color: red;
}

#startScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#startBtn {
  padding: 20px 30px;
  font-size: 24px;
  border: none;
  border-radius: 12px;
  background: red;
  color: white;
}
